//@import "./scss/fonts.scss";
@import "./scss/variables.scss";
@import "./scss/normalize.scss";
@import "./scss/utils.scss";
@import "./scss/animations.scss";

/*
  Styles reset
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a, a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

/*
  Styles reset ends
*/

html, body {
  position: relative;
  background: linear-gradient(0deg, #99DFD5 50%, #D1F3ED 100%);
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $text-main-color;
  font-weight: 400;
  font-size: 28px;
}

.site-wrapper {
  height: 100%;
}

header {
  width: 100%;
  //height: 205px;
  height: 195px;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  max-width: 1567px;
  margin: 0 auto;
  padding: 24px 45px;
  background: transparent url('/images/header-clouds.png') center bottom no-repeat;
}

.header-logo {
  text-align: center;
}

.header-logo__title {
  color: $secondary-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.header-logo__subtitle {
  color: $text-main-color;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.header-title {
  margin: 0;
  padding: 0;
  color: $text-main-color;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
}

.header-info__phone a, .header-info__phone a:active, .header-info__phone a:hover, .header-info__phone a:focus, .header-info__phone a:visited {
  color: $secondary-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.header-info__subtext {
  color: $text-main-color;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  text-transform: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: 213px;
  height: 193px;
  text-align: center;
}

.footer-container {
  position: relative;
  height: 100%;
  max-width: 1567px;
  margin: 0 auto;
  background: transparent url('/images/footer-clouds.png') center top no-repeat;
}

.footer-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: $text-secondary-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: none;
  padding-bottom: 20px;
}

/*
  Start screen
*/

.start-screen {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}

.start-screen > h2 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 600;
  color: #000;
}

.start-screen__right {
  float: right;
  max-width: 450px;
}

.commissions-info__percent {
  float: left;
  margin: -2px 10px 0 -25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  color: $text-emphasis-color;
}

.commissions-info__explain {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  color: $text-main-color;
  text-transform: uppercase;
}

.react-widget {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.question-header {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 600;
  color: $text-question-header-color;
  margin: 25px 0;
}

.steps-screen {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 520px;
}

.steps-screen label {
  position: relative;
  display: block;
  width: 260px;
  height: 70px;
  background: #FFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.3;
  font-size: 14px;
  color: $text-main-color;
  margin-bottom: 35px;
  user-select: none;
  cursor: pointer;
}

.steps-screen label .question-text {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  max-width: 150px;
  text-align: left;
}

.steps-screen label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
//.steps-screen label .checkmark {
//  display: block;
//  position: absolute;
//  right: 30px;
//  top: 50%;
//  transform: translateY(-50%);
//  height: 21px;
//  width: 21px;
//  background-color: #fff;
//  border: 3px solid #C4C4C4;
//  border-radius: 50%;
//}

/* On mouse-over, add a grey background color */
//.steps-screen label:hover input ~ .checkmark {
//  background-color: #F6F6F6;
//}

/* When the radio button is checked, add a background */
//.steps-screen label input:checked ~ .checkmark {
//  background-color: $secondary-color;
//  border-color: $secondary-color;
//}

.steps-screen__left {
  float: left;
}

.steps-screen__right {
  float: right;
  max-width: 360px;
  text-align: center;
}

.steps-screen__comission-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  color: $text-main-color;
}

.steps-screen__comission-value {
  margin: 15px 0 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 72px;
  color: #D1F3ED;
}

.steps-screen__right .my-button {
  margin: 0 auto;
}

.step-indicators-group {
  width: 100%;
  height: 70px;
  background: #E5E5E5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
}

.step-indicator-item {
  position: relative;
  display: block;
  background-color: $step-indicator-item-color;
  width: 220px;
  height: 100%;
  box-shadow: 2px 0px 4px #CBCBCB;
  user-select: none;
  cursor: unset;
  transition: all $css-animations-duration;
}

.step-indicator-item:first-child {
  border-radius: 10px 0 0 10px;
}

.step-indicator-item.indicator-enabled {
  background-color: $step-indicator-item-enabled-color;
  cursor: pointer;
}

.step-indicator-item span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #CBCBCB;
  font-weight: 600;
  line-height: 1;
  font-size: 24px;
  text-indent: 25px;
}

.step-indicator-item.indicator-enabled span {
  color: #FFF;
}

.summary-screen {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 520px;
}

.steps-screen-left {
  float: left;
  width: 460px;
}

.steps-screen-left__header {
  font-weight: 600;
  line-height: 1.3;
  font-size: 40px;
  color: #FFF;
}

.steps-screen-left__commission {
  font-weight: 300;
  font-size: 40px;
  line-height: 1;
  color: $text-main-color;
}

.steps-screen-left__commission span {
  font-weight: 700;
  line-height: 1;
  font-size: 96px;
  color: $secondary-color;
}

.steps-screen-left__quiz-summary {
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  color: $text-main-color;
}

.steps-screen-left__quiz-summary ol {
  margin: 15px 0;
  list-style-type: decimal;
  list-style-position: inside;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

.steps-screen-left__quiz-summary li {
  line-height: 1.4;
}

.steps-screen-left__quiz-summary span.q {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.steps-screen-left__quiz-summary span.a {
  font-weight: 700;
  font-size: 20px;
}

.people-percent__value {
  float: left;
  margin: 0 10px 0 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 64px;
  color: $secondary-color;
}

.people-percent__text {
  font-weight: 600;
  line-height: 1.4;
  font-size: 22px;
  color: $text-main-color;
  text-transform: uppercase;
}

.steps-screen-left__quiz-again {
  margin: 20px 0 0;
}

.steps-screen-left__quiz-again a, .steps-screen-left__quiz-again a:active,
.steps-screen-left__quiz-again a:hover, .steps-screen-left__quiz-again a:focus {
  font-weight: 600;
  line-height: 1;
  font-size: 40px;
  color: #E5E5E5;
  transition: all $css-animations-duration;
}

.steps-screen-left__quiz-again a:hover {
  color: #FFF;
}

.steps-screen-right {
  float: right;
  width: 520px;
}

.steps-screen-right__header {
  font-weight: 600;
  line-height: 1.3;
  font-size: 40px;
  color: $text-main-color;
}

.steps-screen-right__consult-steps ul {
  max-width: 350px;
  margin: 15px 0;
  list-style-type: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

.steps-screen-right__consult-steps ul li {
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  color: #FFF;
  margin: 15px 0;
}

.steps-screen-right__consult-steps ul li span {
  color: $text-main-color;
}

.consult-steps__plus {
  margin: 0 0 15px;
  max-width: 410px;
  font-weight: 600;
  line-height: 1.4;
  font-size: 20px;
  color: #000;
}

.consult-steps__plus-accent {
  color: $text-emphasis-color !important;
}

.modal-with-phone, .modal-with-phone-agreement {
  width: 360px;
}

.modal-with-phone__header-box, .modal-with-phone-agreement__header-box {
  padding: 22px;
  //background: linear-gradient(#99DFD5 0%, #D1F3ED 100%);
  background: linear-gradient(to bottom, #99dfd5, #a8e4db, #b6e9e1, #c3eee7);
  border-radius: 10px 10px 0 0;
}

.modal-with-phone-agreement__header-box {
  padding-bottom: 15px;
}

.modal-with-phone__header {
  font-weight: 600;
  line-height: 1;
  font-size: 30px;
  color: $text-main-color
}

.modal-with-phone-agreement__header {
  font-weight: 600;
  line-height: 1.4;
  font-size: 30px;
  color: $text-main-color;
}

.modal-with-phone-agreement__header-text {
  font-weight: 600;
  line-height: 1;
  font-size: 20px;
  margin-top: 0px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -2px;
}

.modal-with-phone-agreement-body {
  padding: 8px 25px;
  height: 450px;
  overflow-y: scroll;
}

.modal-with-phone-agreement-body p {
  margin: 0 0 15px;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  color: $text-main-color;
}

.modal-with-phone__text p {
  margin: 15px 0 0;
  font-weight: 600;
  line-height: 1.4;
  font-size: 18px;
  color: #FFF;
}

.modal-with-phone__text p:first-child {
  margin-bottom: 25px;
}

.with-address .modal-with-phone__text p:first-child {
  margin: 15px 0 0;
}

.modal-with-phone__form-box {
  background: #FFF;
  border-radius: 0px 0px 10px 10px;
}

.modal-with-phone__form-box .form-box__header {
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
  text-align: center;
  color: $text-main-color;
  margin: 15px auto;
}

.modal-with-phone__form-box form {
  display: block;
  padding: 0 50px;
}

.plain-form-content form {
  display: block;
  max-width: 480px;
}

.modal-content input[type="text"], .modal-content input[type="tel"],
.modal-content input[type="number"], .plain-form-content input[type="tel"] {
  width: 100%;
  height: 60px;
  padding: 20px 22px;
  margin: 0 auto 8px;
  font-weight: 400;
  line-height: 1;
  font-size: 18px;
  color: $text-main-color;
  background: #D1F3ED;
  border-radius: 10px;
  border: 0;
  outline: 0;
}

.modal-content input[type="tel"], .plain-form-content input[type="tel"] {
  letter-spacing: 1.5px;
}

.plain-form-content input[type="tel"] {
  width: 260px;
}

.modal-content input + input {
  margin-top: 7px !important;
}

.modal-content .form-error, .plain-form-content .form-error {
  font-weight: 600;
  line-height: 1.3;
  font-size: 16px;
  color: $text-emphasis-color;
  margin: 0 0 11px;
}

.plain-form-content .form-error {
  display: block;
}

.plain-form-content .my-submit-button {
  width: 200px;
  display: block;
  float: right;
}

.modal-content input + .my-submit-button {
  margin-top: 7px !important;
}

.modal-with-phone__personal-data-link {
  padding: 20px 32px 25px;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
  color: $text-main-color
}

.plain-with-phone__personal-data-link {
  max-width: 480px;
  padding: 0px;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
  color: $text-main-color
}

.modal-with-phone__personal-data-link .personal-data-link, .plain-with-phone__personal-data-link .personal-data-link {
  cursor: pointer;
  text-decoration: underline;
}

.final-screen {
  margin: 0 auto;
  max-width: 880px;
  min-height: 360px;
}

.final-screen__ok-text {
  font-weight: 600;
  line-height: 1.4;
  font-size: 44px;
  color: $text-main-color;
}

.final-screen__ok-subtext {
  font-weight: 600;
  line-height: 1.4;
  font-size: 26px;
  color: #FFF;
}

.final-screen__ok-subtext a, .final-screen__ok-subtext a:active,
.final-screen__ok-subtext a:hover, .final-screen__ok-subtext a:focus {
  color: $secondary-color;
}

.final-screen__ok-subtext .font-size-small {
  padding: 0 10px;
  font-weight: 400;
  line-height: 1.3;
  font-size: 18px;
}