@media (max-height: 935px) {

  .steps-screen-left__header {
    font-size: 34px;
    margin-bottom: 5px;
  }

  .steps-screen-left__commission {
    font-size: 34px;
  }

  .steps-screen-left__commission span {
    font-weight: 700;
    line-height: 1;
    font-size: 80px;
  }

  .steps-screen-left__quiz-summary {
    font-size: 22px;
  }

  .steps-screen-left__quiz-summary span.q {
    font-size: 18px;
  }

  .people-percent__value {
    font-size: 58px;
  }

  .people-percent__text {
    font-size: 18px;
    padding-top: 3px;
  }

  .steps-screen-left__quiz-again a, .steps-screen-left__quiz-again a:active, .steps-screen-left__quiz-again a:hover, .steps-screen-left__quiz-again a:focus {
    font-size: 34px;
  }

  .steps-screen-right__header {
    font-size: 30px;
  }

  .steps-screen-right__consult-steps ul li {
    font-size: 16px;
    margin: 10px 0;
  }

  .summary-screen {
    min-height: 460px;
  }

  .consult-steps__plus {
    max-width: 410px;
    font-size: 19px;
  }

  .plain-form-content form {
    max-width: 430px;
  }

  .plain-form-content input[type="tel"] {
    width: 240px;
  }

  .modal-content input[type="text"], .modal-content input[type="tel"], .modal-content input[type="number"], .plain-form-content input[type="tel"] {
    height: 50px;
    padding: 15px 22px;
    border-radius: 8px;
    font-size: 16px;
  }

  .modal-content .form-error, .plain-form-content .form-error {
    font-size: 14px;
  }

  .plain-form-content .my-submit-button {
    width: 180px;
    height: 50px;
    font-size: 16px;
    border-radius: 8px;
  }

  .my-second-button {
    margin-top: 7px;
    padding: 0 40px;
    height: 60px;
  }

  .my-second-button span {
    margin: 18px auto 0;
    text-align: center;
    font-size: 21px;
  }

  .modal-with-phone__header {
    font-size: 27px;
  }

  .modal-with-phone__text p {
    font-size: 16px;
  }

  .modal-with-phone__form-box .form-box__header {
    font-size: 22px;
    max-width: 260px;
  }

  .my-submit-button {
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
  }

  .modal-with-phone__personal-data-link {
    padding: 20px 32px 25px;
    font-size: 13px;
  }

  .modal-with-phone, .modal-with-phone-agreement {
    width: 340px;
  }

  .modal-with-phone-agreement__header {
    line-height: 1.3;
    font-size: 27px;
  }

  .modal-with-phone-agreement__header-text {
    font-size: 18px;
  }

  .final-screen__ok-text {
    font-size: 34px;
    margin-bottom: 15px;
  }

  .final-screen__ok-subtext {
    font-size: 24px;
  }

  .final-screen {
    min-height: 200px;
  }

}

@media (max-height: 850px) {
  .question-header {
    font-size: 32px;
    line-height: 40px;
  }

  .steps-screen label {
    width: 240px;
    height: 66px;
  }

  .steps-screen label .question-text {
    left: 25px;
  }

  .steps-screen label input + .checkmark::before {
    content: '';
    width: 20px;
    height: 20px;
  }

  .steps-screen label input:checked + .checkmark::after {
    width: 20px;
    height: 20px;
  }

  .steps-screen__comission-title {
    font-size: 32px;
    line-height: 38px;
  }

  .steps-screen__comission-value {
    font-size: 64px;
  }

  .steps-screen .my-button {
    width: 210px;
    height: 60px;
    border-radius: 8px;
  }

  .steps-screen .my-button span {
    font-size: 18px;
  }

  .step-indicators-group {
    height: 60px;
  }

  .arrow-left {
    height: 60px;
  }

  .arrow-left:before {
    width: 60px;
    height: 60px;
    left: -40px;
  }

  .steps-screen {
    margin: 80px auto 0;
  }

  .visible-cond {
    display: none;
  }

  .steps-screen__right {
    top: -5px;
  }

  .modal-content input[type=tel], .plain-form-content input[type=tel] {
    letter-spacing: 1px;
  }

}

@media (max-height: 799px), (max-width: 1199px) {

  .plain-form-content .spinner-wrapper {
    margin: -5px 0 15px;
  }

  .header-container {
    padding: 10px 35px 0;
  }

  header {
    height: 160px;
  }

  .header-logo__title {
    font-size: 32px;
    line-height: 40px;
  }

  .header-logo__subtitle {
    font-size: 11px;
  }

  .header-title {
    font-size: 24px;
    line-height: 32px;
  }

  .header-info__phone a, .header-info__phone a:active, .header-info__phone a:hover, .header-info__phone a:focus, .header-info__phone a:visited {
    font-size: 32px;
    line-height: 40px;
  }

  .header-info__subtext {
    font-size: 13px;
  }

  .start-screen > h2 {
    display: inline-block;
    font-size: 36px;
    width: 460px;
  }

  .start-screen__right > img {
    max-height: 220px;
  }

  .commissions-info__percent {
    font-size: 52px;
    margin-top: 0;
  }

  .commissions-info__explain {
    font-size: 19px;
    line-height: 1.25;
    padding-top: 2px;
  }

  .my-button span {
    font-size: 19px;
  }

  .my-button {
    width: 210px;
    height: 60px;
    border-radius: 8px;
  }

  .footer-text {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 8px;
  }

  .steps-screen {
    margin: 30px auto 0;
  }

  /*******/
  /* Main steps
  /********/

  .step-indicators-group {
    height: 50px;
  }

  .step-indicator-item span {
    font-size: 22px;
  }

  .arrow-left {
    height: 50px;
  }

  .arrow-left:before {
    width: 50px;
    height: 50px;
    left: -34px;
  }

  .question-header {
    font-size: 28px;
    line-height: 38px;
    height: 80px;
    margin: 15px auto 15px 0;
  }

  .steps-screen label .question-text {
    left: 20px;
    max-width: 170px;
  }

  .steps-screen label input + .checkmark {
    right: 35px;
  }

  .steps-screen label {
    margin-bottom: 15px;
    border-right: 8px;
  }

  .steps-screen__comission-title {
    font-size: 28px;
    line-height: 34px;
  }

  .steps-screen__comission-value {
    font-size: 60px;
  }

  .steps-screen .my-button {
    width: 190px;
    height: 50px;
  }

  .steps-screen {
    margin: 0 auto 0;
    height: 390px;
  }

  footer {
    height: 145px;
  }

  .steps-screen-left__header {
    font-size: 30px;
  }

  .steps-screen-left__commission span {
    font-size: 60px;
  }

  .steps-screen-left__commission {
    font-size: 28px;
  }

  .steps-screen-left__quiz-summary {
    font-size: 20px;
  }

  .steps-screen-left__quiz-summary ol {
    margin: 10px 0;
  }

  .steps-screen-left__quiz-summary span.q {
    font-size: 17px;
  }

  .steps-screen-left__quiz-summary span.a {
    font-weight: 700;
  }

  .people-percent__value {
    font-size: 54px;
  }

  .steps-screen-left__quiz-again {
    margin: 11px 0 0;
  }

  .steps-screen-left__quiz-again a, .steps-screen-left__quiz-again a:active, .steps-screen-left__quiz-again a:hover, .steps-screen-left__quiz-again a:focus {
    font-size: 28px;
  }

  .steps-screen-right__header {
    font-size: 28px;
    line-height: 34px;
  }

  .steps-screen-right__consult-steps ul {
    margin: 10px 0;
  }

  .steps-screen-right__consult-steps ul li {
    margin: 5px 0;
  }

  .consult-steps__plus {
    font-size: 18px;
  }

  .my-second-button {
    margin-top: 5px;
    padding: 0 35px;
    height: 52px;
  }

  .my-second-button span {
    margin: 17px auto 0;
    font-size: 18px;
  }

  .summary-screen {
    margin-top: -15px;
    min-height: 370px;
  }

  .modal-with-phone__header-box, .modal-with-phone-agreement__header-box {
    padding: 15px;
  }

  .modal-with-phone__header {
    font-size: 22px;
  }

  .modal-with-phone__text p {
    margin: 10px 0 0;
    font-size: 16px;
  }

  .modal-with-phone__text p:first-child {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .with-address .modal-with-phone__text p:first-child {
    margin: 10px 0 0;
  }

  .modal-with-phone__form-box .form-box__header {
    margin: 10px auto;
    font-size: 20px;
    line-height: 26px;
  }

  .modal-content input[type="text"], .modal-content input[type="tel"], .modal-content input[type="number"], .plain-form-content input[type="tel"] {
    height: 44px;
    padding: 14px 18px;
    font-size: 15px;
    margin: 0 auto 6px;
  }

  .plain-form-content .my-submit-button {
    height: 44px;
  }

  .plain-form-content .form-error {
    font-size: 13px;
    margin: 0 0 4px;
  }

  .modal-content .form-error {
    font-size: 13px;
    margin: 0px 0 7px;
  }

  .my-submit-button {
    height: 44px;
    font-size: 16px;
    border-radius: 8px;
  }

  .modal-with-phone__personal-data-link {
    padding: 15px 40px 20px;
    font-size: 12px;
  }

  .modal-with-phone-agreement__header {
    line-height: 28px;
    font-size: 24px;
  }

  .modal-with-phone-agreement__header-text {
    font-size: 17px;
  }

  .final-screen__ok-text {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 5px;
  }

  .final-screen__ok-subtext {
    font-size: 22px;
    max-width: 810px;
  }

  .final-screen__ok-subtext .font-size-small {
    line-height: 20px;
    font-size: 16px;
  }

  .final-screen {
    min-height: 140px;
  }

  .form-send-success, .form-send-fail {
    font-size: 20px;
    margin: 20px 20px 12px;
  }
}

@media (max-height: 699px) {
  //body {
  //  min-height: 699px;
  //}
}

@media (max-width: 1199px) {
  .start-screen {
    max-width: 800px;
  }

  .start-screen__right {
    max-width: 350px;
  }

  .start-screen > h2 {
    width: 440px;
  }

  .steps-screen {
    max-width: 800px;
    position: relative;
    left: -15px;
  }

  .step-indicator-item span {
    font-size: 19px;
  }

  .step-indicator-item span {
    text-indent: 20px;
  }

  .steps-screen__right {
    float: right;
    margin-right: 50px;
  }

  .summary-screen {
    max-width: 800px;
  }

  .steps-screen-left {
    width: 400px;
  }

  .summary-screen .steps-screen-right {
    width: 370px;
  }

  .steps-screen-left__header {
    font-size: 28px;
  }

  .steps-screen-left__commission {
    font-size: 25px;
  }

  .steps-screen-left__commission span {
    font-size: 50px;
  }

  .people-percent__text {
    max-width: 360px;
  }

  .steps-screen-right__header {
    font-size: 24px;
    line-height: 30px;
  }

  .steps-screen-right__consult-steps ul li {
    margin: 0;
  }

  .consult-steps__plus {
    font-size: 17px;
  }

  .steps-screen-left__quiz-summary ol {
    margin: 15px 0;
  }

  .steps-screen-left__quiz-summary li {
    line-height: 1.4;
    margin: 2px 0;
  }

  .plain-form-content input[type="tel"] {
    width: 180px;
  }

  .final-screen {
    max-width: 680px;
  }

  .final-screen__ok-text {
    font-size: 26px;
    line-height: 32px;
  }

  .final-screen__ok-subtext {
    font-size: 20px;
    max-width: 680px;
  }

  .final-screen__ok-subtext .font-size-small {
    line-height: 18px;
    font-size: 15px;
    display: block;
    text-align: left;
    padding: 0;
    margin-top: 3px;
  }
}

@media (max-width: 991px) {

  .start-screen {
    margin-top: -35px;
    max-width: 769px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .start-screen > h2 {
    order: 1;
    font-size: 28px;
    text-align: left;
    width: 370px;
    margin: 15px auto 20px;
  }

  .start-screen__right {
    float: none;
    order: 2;
    max-width: 440px;
    width: 440px;
    position: relative;
    left: 20px;
  }

  .start-screen__right > img {
    max-width: 230px;
    float: left;
  }

  .start-screen__right > .commissions-info {
    width: 210px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .commissions-info__percent {
    float: none;
    margin: 0;
    display: inline-block;
  }

  .my-button {
    order: 3;
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: 10px;
    width: 200px;
    height: 50px;
  }

  .header-container {
    justify-content: center;
  }

  header {
    height: 140px;
  }

  .header-title, .header-info, .footer-text { display: none }

  .footer-info {
    display: block !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
  }

  .start-screen > h1 {
    display: block !important;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 26px;
    max-width: 400px;
  }

  .mobile-only-991 {
    display: inline !important;
  }

  .steps-screen {
    height: 380px;
    max-width: 479px;
    top: -15px;
  }

  .step-indicator-item span:first-child {
    display: none;
  }

  .step-indicator-item span {
    text-indent: 28px;
  }

  .step-indicator-item:first-child span {
    text-indent: 20px;
  }

  .question-header {
    font-size: 24px;
    line-height: 30px;
    height: 60px;
    width: 100%;
    margin: 15px auto 15px 0;
  }

  .steps-screen__right {
    float: right;
    margin-right: 0;
    max-width: 200px;
    text-align: left;
  }

  .steps-screen__comission-title {
    font-size: 24px;
    line-height: 30px;
    max-width: 170px;
  }

  .steps-screen__comission-value {
    font-size: 56px;
    margin: 15px 0 20px;
    width: 200px;
  }

  .summary-screen {
    max-width: 479px;
    margin-top: -34px;
  }

  .summary-screen .steps-screen-left {
    text-align: center;
  }

  .steps-screen-left__quiz-summary, .steps-screen-left__people-percent {
    display: none;
  }

  .steps-screen-left__header {
    font-size: 24px;
    display: inline-block;
    float: none;
    color: #FFF;
    width: 190px;
    text-align: left;
    vertical-align: top;
    margin-top: 8px;
  }

  .steps-screen-left__commission {
    font-size: 25px;
    display: inline-block;
    float: none;
    width: 160px;
    vertical-align: top;
  }

  .steps-screen-left__commission span {
    display: block;
    margin: 0 auto 0px;
    text-align: center;
  }

  .steps-screen-left {
    width: 479px;
    float: none;
  }

  .steps-screen-left__quiz-again {
    margin: 5px auto 0;
    width: 350px;
    text-align: left;
  }

  .steps-screen-left__quiz-again a, .steps-screen-left__quiz-again a:active, .steps-screen-left__quiz-again a:hover, .steps-screen-left__quiz-again a:focus {
    font-size: 24px;
    color: #FFF;
  }

  .summary-screen .steps-screen-right {
    width: 350px;
    float: none;
    margin: 5px auto 5px;
  }

  .steps-screen-right__header {
    font-size: 20px;
    line-height: 26px;
  }

  .steps-screen-right__consult-steps ul li {
    font-size: 14px;
  }

  .consult-steps__plus {
    font-size: 15px;
  }

  .steps-screen-right__consult-steps ul {
    margin: 3px 0;
  }

  .summary-screen .my-second-button {
    display: block;
    width: 245px;
    margin: 0 auto;
    height: 50px;
    position: relative;
  }

  .my-second-button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: -1px auto 0;
    font-size: 17px;
    line-height: 17px;
  }

  .plain-form-content .my-submit-button {
    width: 160px;
  }

  .plain-form-content {
    margin-top: -10px;
  }

  .footer-info__phone a, .footer-info__phone a:active,
  .footer-info__phone a:hover, .footer-info__phone a:focus, .footer-info__phone a:visited {
    font-size: 36px;
    line-height: 40px;
  }

  footer {
    height: 134px;
  }

  .plain-form-content .spinner-wrapper {
    margin: 0px 0 10px;
  }

  .final-screen {
    max-width: 479px;
  }
}

@media (max-width: 599px) {
  header {
    height: 100px;
  }

  .header-container {
    max-width: 599px;
    padding: 5px 25px;
    background: transparent url(/images/header-clouds-mobile.png) center bottom no-repeat;
  }

  .footer-container {
    background: transparent url(/images/footer-clouds-mobile.png) 70% top no-repeat;
  }

  .header-logo__title {
    font-size: 24px;
    line-height: 33px;
  }

  .header-logo__subtitle {
    font-size: 12px;
    line-height: 11px;
  }

  .start-screen > h1 {
    font-size: 18px;
    line-height: 25px;
    max-width: 300px;
  }

  .start-screen > h2 {
    font-size: 28px;
    line-height: 1.2;
    width: auto;
    margin: 5px auto 10px;
  }

  footer {
    height: 90px;
  }

  .footer-info {
    bottom: 10px;
  }

  .footer-info__phone a, .footer-info__phone a:active, .footer-info__phone a:hover, .footer-info__phone a:focus, .footer-info__phone a:visited {
    font-size: 24px;
    line-height: 30px;
  }

  .header-info__subtext, .footer-info__subtext {
    font-size: 14px;
    line-height: 13px;
  }

  .steps-screen {
    max-width: 360px;
  }

  .step-indicators-group {
    height: 45px;
  }

  .arrow-left {
    height: 45px;
  }

  .arrow-left:before {
    width: 45px;
    height: 45px;
    left: -32px;
  }

  .step-indicator-item span {
    text-indent: 22px;
  }
  .step-indicator-item:first-child span {
    text-indent: 15px;
  }

  .question-header {
    font-size: 20px;
    line-height: 25px;
    height: 50px;
    width: 390px;
    margin: 12px auto 14px 0;
  }

  .steps-screen label {
    width: 220px;
    height: 60px;
  }

  .steps-screen label .question-text {
    font-size: 12px;
    line-height: 16px;
    left: 20px;
    max-width: 140px;
  }

  .steps-screen__comission-title {
    font-size: 18px;
    line-height: 26px;
    max-width: 150px;
  }

  .steps-screen__comission-value {
    font-size: 40px;
    margin: 5px 0 15px;
    width: 160px;
  }

  .steps-screen__right {
    max-width: 100px;
    margin-top: 35px;
    position: relative;
  }

  .steps-screen .my-button {
    position: absolute;
    top: 204px;
    right: 70px;
  }

  .final-screen {
    max-width: 360px;
    padding: 0 15px;
    margin-top: -15px;
  }

  .final-screen__ok-text {
    font-size: 22px;
    line-height: 28px;
  }

  .final-screen__ok-subtext {
    font-size: 18px;
    max-width: 330px;
  }

  .final-screen__ok-subtext .font-size-small {
    line-height: 18px;
    font-size: 15px;
  }
}

@media (max-width: 479px) {

  .footer-container {
    background: transparent url(/images/footer-clouds-mobile.png) 62% top no-repeat;
  }

  .start-screen {
    max-width: 360px;
    margin-top: -25px;
    top: 0;
  }

  .start-screen__right {
    max-width: 340px;
    left: 0px;
  }

  .start-screen__right > .commissions-info {
    width: 120px;
  }

  .commissions-info__percent {
    font-size: 48px;
    line-height: 56px;
  }

  .commissions-info__explain {
    font-size: 14px;
    line-height: 19px;
    max-width: 120px;
    margin: 0 auto;
  }

  .start-screen > h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .start-screen__right > img {
    max-width: 200px;
  }

  .steps-screen {
    max-width: 360px;
    padding: 0 15px;
    left: 0;
    top: -5px;
  }

  .step-indicators-group {
    height: 40px;
    width: 306px;
  }

  .arrow-left {
    height: 40px;
  }

  .arrow-left:before {
    width: 40px;
    height: 40px;
    left: -28px;
  }

  .question-header {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    height: 70px;
    margin: 5px auto 10px 0px;
  }

  .steps-screen label {
    width: 195px;
    height: 56px;
    margin-bottom: 10px;
  }

  .steps-screen label .question-text {
    font-size: 12px;
    line-height: 16px;
    left: 12px;
    max-width: 140px;
  }

  .steps-screen label input + .checkmark {
    right: 25px;
  }

  .steps-screen__right {
    max-width: 115px;
  }

  .steps-screen__comission-title {
    font-size: 17px;
    line-height: 22px;
    max-width: 115px;
  }

  .steps-screen__comission-value {
    font-size: 38px;
    margin: 5px 0 15px;
    width: 138px;
  }

  .steps-screen .my-button {
    position: absolute;
    top: 170px;
  }

  .steps-screen-left__commission {
    font-size: 22px;
    width: 140px;
  }

  .steps-screen-left__commission span {
    font-size: 52px;
    line-height: 52px;
    margin: 0px auto 0px;
  }

  .summary-screen {
    max-width: 360px;
    margin-top: -34px;
    padding: 0 15px;
  }

  .steps-screen-left {
    width: 100%;
  }

  .summary-screen .steps-screen-right {
    width: 100%;
    margin: 5px auto 0px;
  }

  .steps-screen-left__quiz-again {
    margin: -2px auto 0px;
    width: 100%;
  }

  .steps-screen-right__header {
    font-size: 18px;
    line-height: 22px;
  }

  .steps-screen-right__consult-steps ul {
    -webkit-padding-start: 25px;
    -moz-padding-start: 25px;
    width: 280px;
  }

  .consult-steps__plus {
    font-size: 14px;
    max-width: 330px;
    margin: 0 0 10px;
  }

  .plain-form-content input[type="tel"] {
    width: 170px;
    padding: 14px 10px;
  }

  .plain-form-content .my-submit-button {
    width: 150px;
  }

  .steps-screen-left__quiz-again a, .steps-screen-left__quiz-again a:active, .steps-screen-left__quiz-again a:hover, .steps-screen-left__quiz-again a:focus {
    font-size: 23px;
  }

  .plain-form-content {
    margin-top: -3px;
  }

  .steps-screen-left__header {
    font-size: 22px;
    width: 180px;
  }

}

@media (max-width: 399px) {

  .modal-overlay {
    padding: 0;
    align-items: stretch;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    border-radius: 0;
  }

  .modal-content > div {
    height: 100%;
  }

  .modal-with-phone {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .modal-with-phone-agreement {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .modal-with-phone__header-box, .modal-with-phone-agreement__header-box {
    padding: 20px 25px;
    border-radius: 0;
  }

  .modal-with-phone__header {
    font-size: 26px;
  }

  .modal-with-phone__text p {
    font-size: 17px;
  }

  .modal-with-phone__form-box .form-box__header {
    font-size: 21px;
    line-height: 26px;
    margin: 16px auto;
  }

  .modal-content input[type="text"], .modal-content input[type="tel"], .modal-content input[type="number"] {
    height: 50px;
    padding: 14px 18px;
    font-size: 16px;
    margin: 0 auto 6px;
    border-radius: 0;
  }

  .modal-content .my-submit-button {
    height: 50px;
    font-size: 17px;
    border-radius: 0px;
  }

  .modal-with-phone-agreement-body {
    padding: 15px 25px 15px 25px;
    height: auto;
    background: #FFF;
    overflow-y: scroll;
    max-height: 450px;
    max-height: calc(100% - 128px);
  }

  .modal-with-phone-agreement-body p {
    font-size: 15px;
    line-height: 20px;
  }

  .modal-with-phone-agreement__header-text {
    top: 0;
  }

  .with-address .modal-with-phone__text p:first-child {
    margin: 12px 0 0;
  }
}